// ---> Borders

.border-none {border: none;}

.border-radius-light {border-radius: .25rem;}
.border-radius-medium {border-radius: .5rem;}
.border-radius-large {border-radius: 1rem;}
.border-radius-round {border-radius: 1000rem;}

.border-radius-avatar {
	border-radius: 100%;
}

.border-solid {border-style: solid;}
.border-size-light {border-width: 1px;}
.border-size-medium {border-width: 2.5px;}
.border-size-heavy {border-width: 5px;}

.border-bottom-only {
	border-top: none;
	border-right: none;
	border-left: none;
}.border-top-only {
	border-bottom: none;
	border-right: none;
	border-left: none;
}.border-left-only {
	border-top: none;
	border-bottom: none;
	border-right: none;
}.border-right-only {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.border-color-white {border-color: $grey_50;}
.border-color-black {border-color: $grey_900;}
.border-color-green {border-color: $green_700;}
.border-color-red {border-color: $red_700;}
.border-color-yellow {border-color: $yellow_700;}
.border-color-pink {border-color: $pink_700;}
.border-color-amber {border-color: $amber_700;}
.border-color-blue {border-color: $blue_700;}
.border-color-purple {border-color: $purple_700;}
.border-color-brown {border-color: $brown_700;}
.border-color-bgrey {border-color: $bgrey_700;}
.border-color-purple {border-color: $purple_700;}
.border-color-teal {border-color: $teal_700;}
.border-color-cyan {border-color: $cyan_700;}
.border-color-orange {border-color: $orange_700;}

.outline-none {outline: none;}

.outline-solid {outline-style: solid;}
.outline-size-light {outline-width: 1px;}
.outline-size-medium {outline-width: 2.5px;}
.outline-size-heavy {outline-width: 5px;}

.outline-color-white {outline-color: $grey_50;}
.outline-color-black {outline-color: $grey_900;}
.outline-color-green {outline-color: $green_700;}
.outline-color-red {outline-color: $red_700;}
.outline-color-yellow {outline-color: $yellow_700;}
.outline-color-pink {outline-color: $pink_700;}
.outline-color-amber {outline-color: $amber_700;}
.outline-color-blue {outline-color: $blue_700;}
.outline-color-purple {outline-color: $purple_700;}
.outline-color-brown {outline-color: $brown_700;}
.outline-color-bgrey {outline-color: $bgrey_700;}
.outline-color-purple {outline-color: $purple_700;}
.outline-color-teal {outline-color: $teal_700;}
.outline-color-cyan {outline-color: $cyan_700;}
.outline-color-orange {outline-color: $orange_700;}

.outline-none {outline: none;}

.cursor-pointer {cursor: pointer;}

// Shapes

hr {border: none;}
hr::before {
	content: "";
	display: block;
	width: 100%;
}

hr.circle::before {
	content: "⬤ ⬤ ⬤";

	font-size: 2rem;
	line-height: 2rem;
	text-align: center;
	letter-spacing: .5rem;
	color: $grey_900;
}

hr.line {
	height: .5rem;
	width: 80%;
	margin: 0 auto;

	background: $grey_900;
	border-radius: 1rem;
}

.tile {
	width: calc(100% - #{$light-size} * 2);
	@extend .normal-padding-all-light;
	@extend .normal-margin-all-light;

	@extend .border-radius-light;
	@extend .shadow-soft-black;
}

.tile-full-height {
	@extend .tile;
	height: calc(100% - #{$light-size} * 2);
}

.tile-parent {background-color: $grey_100;}

.material-icons {
	font-family: 'Material Icons' !important;
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	word-wrap: normal;
	-moz-font-feature-settings: 'liga';
		 font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.effect-hover-shadow-medium:hover {
	@extend .shadow-medium-black;
}


.background-best-fit {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.background-norepeat {background-repeat: no-repeat;}

.background-position-top {background-position: top;}
.background-position-bottom {background-position: bottom;}
.background-position-left {background-position: left;}
.background-position-right {background-position: right;}

.background-size-cover {background-size: cover;}

.loading-line {
	position: relative;

	@keyframes loading-line {
		0% {
			margin-right: 0%;
			width: 0%;
		} 50% {
			margin-right: 0%;
			width: 100%;
		} 100% {
			margin-right: 100%;
			width: 0;
		}
	}
	&::before {
		@extend .pseudo;

		height: $light-size;
		@extend .background-color-red;
		@extend .border-radius-round;

		animation: loading-line 2s infinite;
	}
}

.overlay {
	@extend .position-fixed;
	@extend .position-z-index-extra-large;
	@extend .position-stick-top;

	@extend .full-page-height;
	@extend .width-inherit;
	@extend .max-width-inherit;

	background-color: rgba($grey_900, .9);
}