.border-box {box-sizing: border-box;}
.content-box {box-sizing: content-box;}

// ---> Normals
.normal-center {
	margin-left: auto;
	margin-right: auto;
}.hack-center {
	@extend .normal-center;
	display: table;
}

.normal-padding-zero {padding: 0 !important;}
.normal-margin-zero {margin: 0 !important;}
.normal-no-space {
	@extend .normal-padding-zero;
	@extend .normal-margin-zero;
}

.normal-padding-horizontal-light {
	padding-top: $light-size;
	padding-bottom: $light-size;
}.normal-padding-horizontal-medium {
	padding-top: $medium-size;
	padding-bottom: $medium-size;
}.normal-padding-horizontal-heavy {
	padding-top: $large-size;
	padding-bottom: $large-size;
}

.normal-padding-vertical-light {
	padding-left: $light-size;
	padding-right: $light-size;
}.normal-padding-vertical-medium {
	padding-left: $medium-size;
	padding-right: $medium-size;
}.normal-padding-vertical-heavy {
	padding-left: $large-size;
	padding-right: $large-size;
}

.normal-padding-all-light {
	@extend .normal-padding-horizontal-light;
	@extend .normal-padding-vertical-light;
}.normal-padding-all-medium {
	@extend .normal-padding-horizontal-medium;
	@extend .normal-padding-vertical-medium;
}.normal-padding-all-heavy {
	@extend .normal-padding-horizontal-heavy;
	@extend .normal-padding-vertical-heavy;
}



.normal-margin-horizontal-light {
	margin-top: $light-size;
	margin-bottom: $light-size;
}.normal-margin-horizontal-medium {
	margin-top: $medium-size;
	margin-bottom: $medium-size;
}.normal-margin-horizontal-heavy {
	margin-top: $large-size;
	margin-bottom: $large-size;
}

.normal-margin-vertical-light {
	margin-left: $light-size;
	margin-right: $light-size;
}.normal-margin-vertical-medium {
	margin-left: $medium-size;
	margin-right: $medium-size;
}.normal-margin-vertical-heavy {
	margin-left: $large-size;
	margin-right: $large-size;
}

.normal-margin-all-light {
	@extend .normal-margin-horizontal-light;
	@extend .normal-margin-vertical-light;
}.normal-margin-all-medium {
	@extend .normal-margin-horizontal-medium;
	@extend .normal-margin-vertical-medium;
}.normal-margin-all-heavy {
	@extend .normal-margin-horizontal-heavy;
	@extend .normal-margin-vertical-heavy;
}

.button-padding-light {
	padding: $ultra-light-size $light-size;
}.button-padding-medium {
	padding: $light-size $medium-size;
}.button-padding-large {
	padding: $medium-size $large-size;
}

.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}

// ---> children
.children-inline {
	* {display: inline;}
}

// ---> Flexes
.flex {display: flex;}
.flex-nowrap {flex-wrap: nowrap;}
.flex-row {
	@extend .flex;
	flex-direction: row;
}
.flex-row-wrap {
	@extend .flex-row;
	flex-wrap: wrap;
}
.flex-column {
	@extend .flex;
	flex-direction: column;
}
.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center;}
.flex-both-center {
	@extend .flex-align-center;
	@extend .flex-justify-center;
}

.flex-justify-space-between {justify-content: space-between;}
.flex-justify-space-evenly {justify-content: space-evenly;}
.flex-justify-space-around {justify-content: space-around;}
.flex-justify-start {justify-content: flex-start;}
.flex-justify-end {justify-content: flex-end;}

.flex-align-start {align-items: flex-start;}
.flex-align-end {align-items: flex-end;}
.flex-align-stretch {align-items: stretch;}

// => Block sizing
.full-width {width: 100%;}
.full-height {height: 100%;}
.full-page {
	width: 100%;
	height: 100vh;
}
.full-page-height {height: 100vh;}
.min-full-page {
	width: 100%;
	min-height: 100vh;
}

.max-full-width {max-width: 100%;}
.max-full-height {max-height: 100%;}

.width-zero {width: 0;}
.height-zero {height: 0;}

.width-inherit {width: inherit;}
.height-inherit {height: inherit;}
.max-width-inherit {max-width: inherit;}
.max-height-inherit {max-height: inherit;}

.width-percentage-1 {width: calc(100% / 12 * 1);}
.width-percentage-2 {width: calc(100% / 12 * 2);}
.width-percentage-3 {width: calc(100% / 12 * 3);}
.width-percentage-4 {width: calc(100% / 12 * 4);}
.width-percentage-5 {width: calc(100% / 12 * 5);}
.width-percentage-6 {width: calc(100% / 12 * 6);}
.width-percentage-7 {width: calc(100% / 12 * 7);}
.width-percentage-8 {width: calc(100% / 12 * 8);}
.width-percentage-9 {width: calc(100% / 12 * 9);}
.width-percentage-10 {width: calc(100% / 12 * 10);}
.width-percentage-11 {width: calc(100% / 12 * 11);}
.width-percentage-12 {width: calc(100% / 12 * 12);}

.max-height-quarter-page {max-height: 25vh;}
.max-height-half-page {max-height: 50vh;}
.max-height-most-page {max-height: 80vh;}
.max-height-full-page {max-height: 100vh;}

.max-width-quarter-page {max-width: 25vw;}
.max-width-half-page {max-width: 50vw;}
.max-width-most-page {max-width: 80vw;}
.max-width-full-page {max-width: 100vw;}

.height-quarter-page {height: 25vh;}
.height-half-page {height: 50vh;}
.height-most-page {height: 80vh;}
.height-full-page {height: 100vh;}

.width-quarter-page {width: 25vw;}
.width-half-page {width: 50vw;}
.width-most-page {width: 80vw;}
.width-full-page {width: 100vw;}


// ---> Overflows
.overflow-vertical {overflow-x: auto;}
.overflow-horizontal {overflow-y: auto;}

.overflow-vertical-only {
	@extend .overflow-vertical;
	overflow-y: hidden;
}
.overflow-horizontal-only {
	@extend .overflow-horizontal;
	overflow-x: hidden;
}
.overflow-none {
	overflow-x: hidden;
	overflow-y: hidden;
}


.width-light {width: $large-size;}

.hight-absolute-light {height: $light-size;}
.hight-absolute-medium {height: $medium-size;}
.hight-absolute-large {height: $large-size;}

.position-static {position: static;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-fixed {position: fixed;}
.position-sticky {position: sticky;}

.position-stick-bottom {bottom: 0;}
.position-stick-right {right: 0;}
.position-stick-top {top: 0;}
.position-stick-left {left: 0;}

.position-unstick-bottom {bottom: unset !important;}
.position-unstick-right {right: unset !important;}
.position-unstick-top {top: unset !important;}
.position-unstick-left {left: unset !important;}

.position-z-index-zero {z-index: 0;}
.position-z-index-ultra-light {z-index: 10;}
.position-z-index-light {z-index: 20;}
.position-z-index-medium {z-index: 50;}
.position-z-index-large {z-index: 100;}
.position-z-index-extra-large {z-index: 1000;}

.position-invisible {
	top: -100vh;
	left: -100vw;
}