.shadow-soft-black {filter: drop-shadow(.25rem .25rem .25rem $grey_500);}
.shadow-medium-black {filter: drop-shadow(.25rem .25rem .25rem $grey_700);}
.shadow-heavy-black {filter: drop-shadow(.25rem .25rem .25rem $grey_500);}

.shadow-text-black {filter: drop-shadow(.1rem .1rem .1rem $grey_900)}

.filter-invert {filter: invert(1)}

.transition {transition-property: all;}
.transition-short {
	@extend .transition;
	transition-duration: .5s;
}

.filter-hue-zero {filter: hue-rotate(0deg);}
.filter-hue-quarter {filter: hue-rotate(90deg);}
.filter-hue-half {filter: hue-rotate(180deg);}
.filter-hue-three-quarter {filter: hue-rotate(270deg);}