.form-normalize {
	button {
		@extend .button-padding-light;
		background: $grey_50;
		border: none;
	}
}

.form-button-checkbox {
	@extend .flex-column;
	@extend .flex-both-center;

	@extend .cursor-pointer;
	p {
		@extend .block;
		@extend .button-padding-light;
	
		@extend .background-color-white;
		@extend .border-radius-medium;
		@extend .transition-short;

		@extend .border-solid;
		@extend .border-size-heavy;
		@extend .border-color-black;

		@extend .text-weight-bold;
		@extend .text-align-center;
	}
	input {display: none;}
	input:checked + p {
		@extend .background-color-black;
		@extend .text-color-white;
	}
}