// @media only screen and (max-width: 768px) {html {font-size: 10pt}}
// @media only screen and (min-width: 751px) and (max-width: 992px) {html {font-size: 12pt}}
// @media only screen and (min-width: 1200px) {html {font-size: 16pt}}

@media only screen and (max-width: 576px) {html {font-size: 10px}}
@media only screen and (min-width: 577px) and (max-width: 768px) {html {font-size: 14px}}
@media only screen and (min-width: 769px) and (max-width: 992px) {html {font-size: 17px}}
@media only screen and (min-width: 993px) {html {font-size: 20px}}

body {
    margin: 0;

    img {
        display: block;
        max-width: 100%;
	}
	
	p, h1, h2, h3, h4, h5, h6 {
		margin: 0;
		
        font-size: inherit;
        font-weight: normal;
	}
	
	a {
		color: inherit;
		text-decoration: none;
	}

	li {
		list-style: none;
	}

	[class^="mdl"] {font-family: inherit;}
}