body {
	color: $grey_900;
}

// body.vazir-default {* {font-family: fr_vazir;}}
*, *::before, *::after {font-family: uloo;}

.text-color-white {color: $grey_50;}
.text-color-silver {color: $grey_500;}
.text-color-grey {color: $grey_800;}
.text-color-black {color: $grey_900;}
.text-color-green {color: $green_700;}
.text-color-red {color: $red_700;}
.text-color-yellow {color: $yellow_700;}
.text-color-pink {color: $pink_700;}
.text-color-amber {color: $amber_700;}
.text-color-blue {color: $blue_700;}
.text-color-purple {color: $purple_700;}
.text-color-brown {color: $brown_700;}
.text-color-bgrey {color: $bgrey_700;}
.text-color-purple {color: $purple_700;}
.text-color-teal {color: $teal_700;}
.text-color-cyan {color: $cyan_700;}
.text-color-orange {color: $orange_700;}

.text-size-light {font-size: .8rem;}
.text-size-normal {font-size: 1rem;}
.text-size-medium {font-size: 1.3rem;}
.text-size-big {font-size: 2rem;}

.text-height-light {line-height: .8rem;}
.text-height-normal {line-height: 1rem;}
.text-height-medium {line-height: 1.3rem;}
.text-height-big {line-height: 2rem;}

.text-align-center {text-align: center;}
.text-align-right {text-align: right;}
.text-align-left {text-align: left;}
.text-align-justify {text-align: justify;}
.text-align-justify-center {
	@extend .text-align-justify;
	text-align-last: center;
}

.text-direction-left {direction: ltr;}
.text-direction-right {direction: rtl;}

.text-nowrap {white-space: nowrap;}

.text-weight-thin {font-weight: 100;}
.text-weight-light {font-weight: 300;}
.text-weight-regular {font-weight: 400;}
.text-weight-medium {font-weight: 500;}
.text-weight-bold {font-weight: 700;}
.text-weight-dark {font-weight: 900;}

.text-decoration-underline {text-decoration: underline;}

.text-force-parent {
	* {
		color: inherit !important;
		font-family: uloo !important;
	}
	.material-icons {
		font-family: 'Material Icons' !important;
	}
}

.hgroup {
	* {padding-top: .5rem;}
	h1 {
		line-height: 3rem;
		font-size: 3rem;
		font-weight: 900;
	}h2 {
		line-height: 2rem;
		font-size: 2rem;
		font-weight: 700;
	}
	p {
		font-weight: bold;
	}
}

.fgroup {
	h3 {
		line-height: 1.1rem;
		font-size: 1.1rem;
		font-weight: 900;

		padding-top: .5rem;
	}p {
		font-weight: lighter;
		
		padding-bottom: .5rem;
	}
}

.pgroup {
	* {padding-bottom: 1rem;}
	h3 {
		line-height: 1.75rem;
		font-size: 1.75rem;
		font-weight: 900;
	}h4 {
		line-height: 1.3rem;
		font-size: 1.3rem;
	}
	p {
		line-height: 1.3rem;
	}
}

.quote {
	@extend .text-align-justify-center;
	@extend .normal-padding-horizontal-heavy;
	@extend .normal-padding-vertical-medium;

	font-size: 1.3rem;
	font-weight: lighter;
	font-style: italic;
}.quote::before, .quote::after {
	content: "»";
	padding: .5rem;
}.quote::before {content: "«";}
